<div class="card mt-2">
    <div class="card-header bg-primary text-white">
        <h4><i class="far fa-images"></i> Subidas recientemente</h4>
    </div>
    <div class="card-body">
        <div class="row">
            {{#each images}}
            <div class="col-md-4">
                <a href="/images/{{uniqueId}}">
                    <img src="/public/upload/{{filename}}" alt="" class="w-100 h-100 img-thumbnail">
                </a>
            </div>
            {{/each}}
        </div>
    </div>
</div>